.definitions-container {
  width: 100%;
  height: 68vh;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: lighter;
}
.definition {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  justify-content: center;
}
